* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000033;
  color: #66ccff;
}
img {
  width: 100%;
  vertical-align: bottom;
}

header {
  padding: 15px 0 0;
  h1 {
    text-align: center;
    font-family: isemin, sans-serif;
  }
}
.backButton {
  display: block;
  width: 160px;
  margin: min(4%, 50px) auto;
  border: #66ccff double 4px;
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  font-family: new-tegomin, sans-serif;
}
.formContainer {
  width: 90%;
  max-width: 650px;
  margin: min(4%, 50px) auto;
  padding: min(10%, 65px) min(5%, 40px);
  border: #66ccff double 6px;
  font-family: new-tegomin, sans-serif;
  form {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 20px;
      height: 34px;
      padding: 5px;
      border: #788e99 solid 2px;
    }
    textarea {
      margin-bottom: 30px;
      height: 45vw;
      max-height: 300px;
      border-color: #788e99;
      border-width: 2px;
      padding: 8px;
      line-height: 22px;
    }
    .soushin {
      width: 30%;
      padding: min(2%, 16px);
      font-size: clamp(12px, 5vw, 30px);
      height: auto;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

footer {
  text-align: center;

  padding: 15px;
}

// --------送信後
.confirmContainer {
  width: 90%;
  margin: 15% auto;
  padding: 12px;
  border: #66ccff solid 5px;
  h1 {
    font-size: 10vw;
    font-family: isemin, sans-serif;
  }
  .confirmMessage {
    font-size: 6vw;
    font-family: new-tegomin, sans-serif;
  }
}
